<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="socket.io/socket.io.js"></script>
    <script src="jquery.js"></script>
    <style>
        #div-chat {
            display: flex;
            flex-direction: row;
        }
        #list-user {
            width: 100px;
        }
        #div-control {
            margin: 10px;
        }
        .active {
            color: green;
        }
    </style>
</head>

<body>
    <h1>Khoa Pham Training</h1>
    <div id="div-sign-in">
        <input type="text" id="txtUsername" placeholder="Enter your username">
        <br><br>
        <button id="btnSignIn">Sign In</button>
    </div>
    <div id="div-chat">
        <div id="div-control">
            <input type="text" id="txtMessage" placeholder="Enter some message">
            <br><br>
            <button id="btnSend">Send Message</button>
        </div>
        <div id="list-user">
            <h4>List users:</h4>
            <p>AAAA</p>
        </div>
        <div id="list-message">
            <h4>List messages:</h4>
        </div>
    </div>
</body>
<script src="main.js"></script>
</html>